{% extends 'base.html' %}
{% load static %}
{% block content %}
 <div class="container-about'">

    <h1 class="about-test">About the UniMate</h1>
    <div class="about-img">
        <img src="{% static 'images/illustration-about.png' %}" alt="">
    </div>
    <div class="about-text">
    <hr>
    <h3>How Could We help you?</h3>
    <p>
        Find Your Ideal Room:Tired of spending countless hours searching for suitable student housing options? With CalUnimate, you can effortlessly browse through a curated list of available shared rooms and apartments near your university.
    </p>
    <p>
        Connect with Potential Housemates: Finding the right housemate can make all the difference in creating a comfortable and enjoyable living environment. 

    </p>
    <p>
        List Your Room for Rent: Have a spare room to offer? As a user, you have the option to list your available room for rent on CalUnimate.Including rent amount, amenities, and any specific requirements you might have for potential tenants.
    </p>
    <p>
        Share Amenities and Property Features: CalUnimate understands that student living is about more than just a room; it's about the entire experience. With our platform, you can showcase the amenities your property provides, whether it's high-speed internet, laundry facilities, a gym, or a cozy communal lounge. Highlighting these features helps potential tenants make informed decisions about their future home.

    </p>
    <p>
        Explore Rental History: As a user, you can access the rental history of a property, giving you insight into its past occupants and their experiences.

    </p>
</div>

 </div>

    <!-- <footer>All Rights Reserved, &copy; 2023 UniMate</footer> -->
 {% endblock %}