{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>UniMate</title>
   <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css"
    /> 
    <link rel="stylesheet" type="text/css"href="{% static 'css/style.css' %}"/>
    <link rel="stylesheet" type="text/css"href="{% static 'css/about.css' %}"/>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
  </head>
  <body>
    <header class="navbar-fixed">
      <nav>
        <div class="nav-wrapper">
          <div class="logo-container">
            <a href="{% url 'home' %}"
              ><img
                class="logo"
                src="{% static 'images/logo-unimate.png' %}"
                alt="Logo"
            /></a>
          </div>
          <input id="menu-toggle" type="checkbox" />
          <label class='menu-button-container' for="menu-toggle">
          <div class='menu-button'></div>
          </label>
          <ul class="menu">
            <li><a href="{% url 'about' %}">About</a></li>
            {% if user.is_authenticated %}
            <li><a href="{% url 'amenities_create' %}">Add an Amenity</a></li>
            <li><a href="{% url 'amenities_index' %}">View All Amenities</a></li>
            <li><a href="{% url 'properties_add' %}">Add a new Property</a></li>
            <li><a href="{% url 'index' %}">View All Properties</a></li>
            <li><a href="{% url 'logout' %}">Log Out</a></li>
            {% else %}
          
            <li ><a href="{% url 'login' %}">Log In</a></li>
            <li ><a href="{% url 'signup' %}">Sign Up</a></li>
            
            {% endif %}
          </ul>
        </div>
      </nav>
    </header>
    <main class="container">{% block content %} {% endblock %}</main>
    <footer class="page-footer">
      <div class="page-footer-container">
        <div class="footer-logo">
          <div>
            <img src="{% static 'images/logo-unimate-blue.png' %}" alt="" />
          </div>
          <hr />
        </div>
        <div class="Footer-socialMedias">
          <img
            src="{% static 'images/icons-social-media/facebook.png' %}"
            alt=""
          />
          <img
            src="{% static 'images/icons-social-media/instagram.png' %}"
            alt=""
          />
          <img
            src="{% static 'images/icons-social-media/twitter.png' %}"
            alt=""
          />
          <img
            src="{% static 'images/icons-social-media/youtube.png' %}"
            alt=""
          />
        </div>
        <div class="footer-text">
          <p>All Rights Reserved, &copy; 2023 UniMate</p>
        </div>
      </div>
    </footer>
  </body>
</html>
