{% extends 'base.html' %}
{% block content %}

<h1>Properties List</h1>

{% for property in properties %}
<div class="card">
    <a href="{% url 'detail' property.id %}">
        <div class="card-content">
            <span class="card-title">{{ property.title }}</span>
            <p>Address: {{ property.address|linebreaks }}</p>
            <p>Suburb: {{ property.suburb }}</p>
            <p>State: {{ property.state }}</p>
            <p>Postcode: {{ property.postcode }}</p>
            <p>Property Details: {{ property.details|linebreaks }}</p>
            {% if property.price > 0 %}
            <p>Weekly rent: ${{ property.price }}</p>
            {% else %}
            <p>Try a higher price!</p>
            {% endif %}
        </div>
    </a>
</div>
{% endfor %}

{% endblock %}